---
import VikingIcon from './VikingIcon.astro';
---

<button
  type="button"
  class="theme-toggle-btn"
  aria-label="Toggle light and dark theme"
  id="theme-toggle-btn"
>
  <VikingIcon name="sun" size={24} />
</button>
